@model IEnumerable<ToDoItem>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css" />
    <title>Document</title>
    <style>
        body {
            margin-top: 20px;
            background: #f8f8f8;
        }

        .todo-nav {
            margin-top: 10px
        }

        .todo-list {
            margin: 10px 0
        }

        .todo-list .todo-item {
            padding: 15px;
            margin: 5px 0;
            border-radius: 0;
            background: #f7f7f7
        }

        .todo-list.only-active .todo-item.complete {
            display: none
        }

        .todo-list.only-active .todo-item:not(.complete) {
            display: block
        }

        .todo-list.only-complete .todo-item:not(.complete) {
            display: none
        }

        .todo-list.only-complete .todo-item.complete {
            display: block
        }

        .todo-list .todo-item.complete span {
            text-decoration: line-through
        }

        .remove-todo-item {
            color: #ccc;
            visibility: hidden
        }

        .remove-todo-item:hover {
            color: #5f5f5f
        }

        .todo-item:hover .remove-todo-item {
            visibility: visible
        }

        div.checker {
            width: 18px;
            height: 18px
        }

        div.checker input,
        div.checker span {
            width: 18px;
            height: 18px
        }

        div.checker span {
            display: -moz-inline-box;
            display: inline-block;
            zoom: 1;
            text-align: center;
            background-position: 0 -260px;
        }

        div.checker, div.checker input, div.checker span {
            width: 19px;
            height: 19px;
        }

        div.checker, div.radio, div.uploader {
            position: relative;
        }

        div.button, div.button *, div.checker, div.checker *, div.radio, div.radio *, div.selector, div.selector *, div.uploader, div.uploader * {
            margin: 0;
            padding: 0;
        }

        div.button, div.checker, div.radio, div.selector, div.uploader {
            display: -moz-inline-box;
            display: inline-block;
            zoom: 1;
            vertical-align: middle;
        }

        .card {
            padding: 25px;
            margin-bottom: 20px;
            border: initial;
            background: #fff;
            border-radius: calc(.15rem - 1px);
            box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row align-items-start">
        <div class="col align-self-start">
            @if (ViewBag.UserName != null)
            {
                <nav>
                    <h1>@ViewBag.UserName</h1>
                </nav>
            }
            else
            {
                <nav>
                    <h1>Demo mode</h1>
                </nav>
                <span>Log In or Sign Up in your account to save to do items</span>
            }
        </div>

        <div class="col">
            <div class="p-1 h1 text-dark text-center mx-auto">
                <i class="fa fa-check bg-dark text-white rounded p-2"></i>
                <u>ToDoList</u>
            </div>
        </div>
        
        <div class="p-2 m-1 col align-self-end">
            <div class="form-inline float-end">
                @if (ViewBag.UserName != null)
                {
                    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="LogOut">Log Out</a>
                }
                else
                {
                    <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Log In</a>
                    <a class="btn btn-outline-secondary" asp-controller="Registration" asp-action="Index">Sign Up</a>
                }
            </div>
        </div>
    </div>

    <div class="col-md-auto">
        <div class="card">
            <div class="card-body">

                <form method="post" asp-controller="Home" asp-action="AddToDoItem">
                    @Html.Partial("NewToDoItemAdd", new ToDoItem())
                </form>
                    <ul class="nav nav-pills todo-nav">
                        <li role="presentation" class="nav-item"><a asp-action="AllToDoItems" class="nav-link text-dark text-decoration-underline">All</a></li>
                        <li role="presentation" class="nav-item"><a asp-action="OnlyActiveToDoItems" class="nav-link text-dark text-decoration-underline">Active</a></li>
                        <li role="presentation" class="nav-item"><a asp-action="OnlyCompletedToDoItems" class="nav-link text-dark text-decoration-underline">Completed</a></li>
                    </ul>

                    <div class="todo-list">
                        
                        @foreach (var toDoItem in Model)
                        {
                        <div class="todo-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1 col-lg-auto">
                                        <form asp-action="ChangeToDoItemStatus" method="post">
                                            <div class="checker">
                                                <input type="hidden" name="Id" value="@toDoItem.Id" />
                                                <input type="checkbox" checked="@toDoItem.IsCompleted" onclick="this.parentNode.parentNode.submit()">
                                            </div>
                                        </form>
                                    </div>
                                    
                                    @if (ViewBag.EditId != null && toDoItem.Id == ViewBag.EditId)
                                    {
                                        @Html.Partial("ToDoItemEdit", toDoItem)
                                    }
                                    else
                                    {
                                        <div class="col">
                                            @{
                                                var style = @toDoItem.IsCompleted ? "font-size: 1.2em; text-decoration: line-through;" : "font-size: 1.2em;";
                                            }
                                            <span style="@style">@toDoItem.Item</span>
                                        </div>

                                        <div class="col col-lg-auto">
                                            <a asp-action="EditToDoItem" asp-route-id="@toDoItem.Id" ><i class="fas fa-edit" style="color: #212529; font-size: 1.2em"></i></a>
                                        </div>

                                        <div class="col col-lg-auto">
                                            <form asp-action="DeleteToDoItem" method="post">
                                                <input type="hidden" name="Id" value="@toDoItem.Id"/>
                                                <a onclick="this.parentNode.submit()" style="cursor: pointer"><i class="fas fa-times" style="color: #212529; font-size: 1.2em"></i></a>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        }
                    </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>