@model IEnumerable<ToDoItem>

@{
    Layout = "_Layout";
}

<div class="m-3">
    <div class="flex-container header-padding">
        <div class="head-item-mode">
            @if (ViewBag.UserName != null)
            {
                <nav>
                    <h1>@ViewBag.UserName</h1>
                </nav>
            }
            else
            {
                <nav>
                    <h1>Demo mode</h1>
                </nav>
                <span>Log In or Sign Up in your account to save to do items</span>
            }
        </div>

        <div class="head-item-logo">
            <div class="logo-container">
                <i class="fa fa-check bg-dark text-white rounded p-2"></i>
                <u>ToDoList</u>
            </div>
        </div>
    
        <div class="flex-container head-item-button">
            @if (ViewBag.UserName != null)
            {
                @*<a class="btn btn-outline-dark" asp-controller="Home" asp-action="LogOut">Log Out</a>*@

                <form class="p-r-1" method="get" asp-controller="Home" asp-action="LogOut">
                    <button class="btn">
                        <span class="text-in-btn">Log in</span>
                    </button>
                </form>
            }
            else
            {
                <form class="p-r-1" method="get" asp-controller="Account" asp-action="Login">
                    <button class="btn">
                        <span class="text-in-btn">Log in</span>
                    </button>
                </form>

                <form class="p-r-1" method="get" asp-controller="Registration" asp-action="Index">
                    <button class="btn">
                        <span class="text-in-btn">Sign Up</span>
                    </button>
                </form>
            }
        </div>
    </div>



    <div class="flex-container">
        <div class="white-panel">
            
            @Html.Partial("NewToDoItemAdd", new ToDoItem())

            <div>
                <ul>
                    <li>
                        @if (ViewBag.ListState == ListState.All)
                        {
                            <a asp-action="AllToDoItems" class="cheched-a">All</a>
                        }
                        else
                        {
                            <a asp-action="AllToDoItems">All</a>
                        }
                    </li>
                    <li>
                        @if (ViewBag.ListState == ListState.Active)
                        {
                            <a asp-action="OnlyActiveToDoItems" class="cheched-a">Active</a>
                        }
                        else
                        {
                            <a asp-action="OnlyActiveToDoItems">Active</a>
                        }
                    </li>
                    <li>
                        @if (ViewBag.ListState == ListState.Completed)
                        {
                            <a asp-action="OnlyCompletedToDoItems" class="cheched-a">Completed</a>
                        }
                        else
                        {
                            <a asp-action="OnlyCompletedToDoItems">Completed</a>
                        }
                    </li>
                </ul>
            </div>

            <div>
                @foreach (var toDoItem in Model)
                {
                    <div class="todo-item flex-container">
                        <div class="to-center">
                            <form asp-action="ChangeToDoItemStatus" method="post">
                                <div class="checker">
                                    <input type="hidden" name="Id" value="@toDoItem.Id" />
                                    <input type="checkbox" checked="@toDoItem.IsCompleted" onclick="this.parentNode.parentNode.submit()" class="my-checkbox">
                                </div>
                            </form>
                        </div>
                                    
                        @if (ViewBag.EditId != null && toDoItem.Id == ViewBag.EditId)
                        {
                            @Html.Partial("ToDoItemEdit", toDoItem)
                        }
                        else
                        {
                            <div class="to-center width100 m-l-1">
                                @{
                                    var style = @toDoItem.IsCompleted ? "text-decoration: line-through;" : "";
                                }
                                <span class="item-label" style="@style">@toDoItem.Item</span>
                            </div>
                            
                            <div class="to-center m-r-1">
                                <a asp-action="EditToDoItem" asp-route-id="@toDoItem.Id" >
                                    <i class="fas fa-edit icon"></i>
                                </a>
                            </div>
                            
                            <div class="to-center" style="margin-right: 0.8em;">
                                <form asp-action="DeleteToDoItem" method="post">
                                    <input type="hidden" name="Id" value="@toDoItem.Id"/>
                                    <a onclick="this.parentNode.submit()">
                                        <i class="fas fa-times icon-cancel"></i>
                                    </a>
                                </form>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

</div>
</div>